main {
  padding-top: 60px;

  .jumbo {
    background-color: #EFF2F6;
    height: 540px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 80% 50%;

    .container {
      width: 75%;
      margin: 0 auto;

      .jumbo-info {
        margin-left: 64px;
        font-weight: 600;
        color: #31B29D;
        padding-top: 90px;
        width: 410px;

        p.header-p {
          font-size: 22px;
          padding-bottom: 7px;
        }

        h1 {
          font-weight: 900;
          color: black;
          text-transform: uppercase;
          font-size: 50px;
          padding-bottom: 15px;
        }

        p.bottom-p {
          font-size: 18px;
          padding-bottom: 10px;
        }

        button {
          color: white;
          font-weight: 600;
          background-color: #0088cc;
          padding: 10px 20px;
          border-radius: 5px;
          font-size: 16px;
          margin-top: 20px;
        }
      }

      img.hero-globe {
        width: 540px;
        transform: rotate(281deg);
        position: absolute;
        top: 60px;
        right: 60px;
      }

      img.avatar {
        width: 400px;
        position: absolute;
        top: 100px;
        right: 152px;
      }
    }
  }

  section.dream-together {
    .container {
      width: 75%;
      margin: 0 auto;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      padding: 70px 0;

      .title-section {
        padding: 50px 100px;

        h2 {
          font-size: 25px;
          color: #51B69F;
          padding-bottom: 35px;
          text-align: center;
        }

        p {
          font-size: 30px;
          font-weight: bold;
          text-align: center;
        }
      }

      .cards {
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
        justify-content: center;

        .card {
          width: calc(100%/3);
          padding: 0 15px;

          .info-card {
            padding: 35px;

            h2 {
              padding-bottom: 20px;
              color: #4F4F4F;
            }

            p {
              font-size: 16px;
              color: #919191;
            }
          }
        }

        .buttons {
          padding-top: 30px;

          button.learn-more {
            border: 1px solid #0088cc;
            color: #35B49F;
            font-weight: 600;
            background-color: white;
            padding: 10px 40px;
            border-radius: 5px;
            font-size: 16px;
            margin: 20px;
          }

          button.get-starded {
            color: white;
            font-weight: 600;
            background-color: #0088cc;
            padding: 10px 20px;
            border-radius: 5px;
            border: 1px solid #0088cc;
            font-size: 16px;
            margin: 20px;
          }
        }
      }
    }
  }

  section.three-dots-carousel {
    display: flex;
    justify-content: center;
    background-color: #F8F8F8;
    padding: 70px 0;

    .container {
      width: 75%;
      margin: 0 -15px;

      .carousel-header {
        text-align: center;

        h2 {
          padding-bottom: 20px;
          color: #2BB1A6;
        }

        p {
          font-size: 35px;
          font-weight: 600;
          padding-bottom: 50px;
        }
      }

      .carousel {
        width: 100%;
      }

      .slider-container {
        .slider {
          display: flex;
          margin: 0 -15px;

          .slider-img {
            width: calc(100%/3);
            padding: 0 15px;

            .slider-card {
              border-radius: 5px;
              background-color: white;

              img {
                border-top-left-radius: 5px;
                border-top-right-radius: 5px;
                width: 100%;
              }

              .slide-info {
                padding: 30px;
                display: flex;
                flex-wrap: wrap;
                justify-content: center;

                h2 {
                  color: #525252;
                  padding-bottom: 20px;
                }

                p {
                  color: #A9A9A9;
                  text-align: center;
                  padding-bottom: 20px;
                }
              }

              .discover-now {
                color: #40B8A5;
                font-weight: 600;
                line-height: 60px;
                text-align: center;
                border-top: 1px solid rgba(169, 169, 169, 0.2);
              }
            }
          }
        }

        .dots-slider {
          padding-top: 20px;
          font-size: 10px;
          text-align: center;

          .fa-circle {
            font-size: 10px;
            padding: 20px 10px;
            color: #DADADA;
          }

          .fa-circle.active {
            color: black;
          }
        }
      }
    }
  }

  section.all-courses {
    .container {
      width: 85%;
      margin: 0 auto;

      .negativ-margin {
        padding: 50px 0;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        .all-courses-header {
          width: 100%;
          text-align: center;

          h2 {
            padding-bottom: 20px;
            color: #2BB1A6;
          }

          p {
            text-align: center;
            font-size: 35px;
            font-weight: 600;
            padding-bottom: 50px;
          }
        }

        .imgs {
          position: relative;
          width: calc(100%/4 - 20px);

          .overlay {
            width: 100%;
            height: 100%;
            position: absolute;
            background-color: rgba(0,0,0,0.5);
          }

          .price-info {
            position: absolute;
            bottom: 0;
            left: 0;
            margin: 0 15px;
            color: white;

            h3 {
              font-size: 20px;
              color: #00c9a5;
            }

            p {
              font-size: 16px;
              padding-bottom: 10px;
              font-weight: 600;
            }
          }

          img {
            width: 100%;
          }
        }

        .all-corses-bottom {
          padding: 50px 0;
          width: 500px;
          margin: 0 auto;

          p {
            color: #868686;
            text-align: center;
            padding: 0 15px;

            span {
              font-weight: 600;
              color: #626262;
            }
          }
        }
      }
    }
  }

  section.thrive {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    height: 500px;
    background-color: #323043;

    .thrive-left {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      position: relative;

      .thrive-youtube {
        display: flex;
        justify-content: center;
        align-items: center;

        img.youtube {
          top: 50%;
          position: absolute;
          width: 50px;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        img:last-child {
        width: 75%;
        }
      }
    }
    .thrive-right {
      position: relative;
      z-index: 1000;
      .thrive-info {
        i.fa-chevron-circle-up {

        }
      }
    }

    img.globe {
      width: 50%;
      position: absolute;
      top: 0;
      right: 0;
    }

  }

  section.events {
    height: 500px;
  }
}

.none {
  display: none;
}
